@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins-latin-400-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
  --main: #e5f105;
  --sec: #fffeeb;
}

.skeleton {
  animation-name: skeleton;
  animation-duration: 2 s;
  animation-iteration-count: infinite;
  
}
a {
  color : #373737;
}
a:hover {
  color : #454545;
}
a.active {
  color :#ffe414
}
@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
  
}
.bg-main {
  background-color: var(--main);
}
.bg-sec {
  background-color: var(--sec);
}
.t-main {
  color: var(--main);
}
.t-sec {
  color: var(--sec);
}
.text {
  font-size: 14px;
}
.empty-icn {
  font-size: 30px;
  color:#4b4b4b;
}
.main-f {
  font-family: 'Poppins';
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4fff8;
  /* width: 100vw; */
  /* position: fixed !important; */
  /* overflow-y: scroll !important; */
}
.main-ctn {
  width:550px;
  height: 400px;
  background-color: #ffffff;
  margin: 50px auto;
}
.btn {
  cursor: pointer;
  font-size: 13px;
  /* padding: 10px 0px; */
  border: solid 1.8px var(--main);
  border-radius: 30px;
  color: #282828;
}
.title {
  font-size: 40px;
  color : #2823bb ;
  margin: 40px 0;
}
.title2 {
  font-size: 24px;
}
.trans {
  transition: all;
  transition-duration: .4s;
}
.grided {
  display: grid;
  grid-template-columns: 320px 320px;
  width: 800px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width:480px) {
  .title {
    font-size: 26px;
    text-align: center;
  }
  
}
@media (max-width: 990px) {
  .grided {
    grid-template-columns:250px 250px ;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .grided {
    grid-template-columns:100%;
    width: 320px;
  }
}
@media (max-width: 480px) {
  .grided {
    grid-template-columns:100%;
    width: 80%;
  }
}